<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body th:object="${contact}">
    <h1> Data is being saved </h1>

    <span> Name:
        <p th:text="*{name}"></p>
    </span>
    <br>

    <span> Email: 
        <p th:text="*{email}"></p>
    </span>
    <br>

    <span> Phone Number 
        <p th:text="*{phoneNumber}"></p>
    </span>

</body>
</html>